* {
  margin: 0;
  padding: 0;
}

body,html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.main_container {
  max-width: 1000px;
  width: 80%;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 80px 0;
}

input.search {
  border: none;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  height: 25px;
  line-height: 25px;
  padding: 7.5px 15px;
  color: #4a4a4a;
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  margin: 15px;
  transition: all 400ms;
  width: 80%;
  max-width: 400px;
  min-width: 200px;
}

.content_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 40px 0;
}

/* repos item */
.repos_item {
  border-radius: 2px;
  margin: 15px 0;
  transition: all 400ms;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  }

  & .repos_item_wrapper {
    padding: 15px 20px;
  }

  & .repos_user_container {
    margin-left: -50px;
    text-align: left;
    position: relative;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    & .user_header_container {
      width: 50px;
      float: left;
      position: relative;

      & img.user_header {
        width: 50px;
        border-radius: 50%;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
        transition: all 400ms;
      }

      &:hover {
        & .user_infos_container {
          opacity: 1;
          visibility: visible;
          z-index: 9;
        }

        & img.user_header {
          box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
        }
      }

      & .user_infos_container {
        position: absolute;
        left: 0;
        top: 45px;
        z-index: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 250ms;

        & .user_infos_wrapper {
          padding: 10px;
          background-color: #fff;
          margin-top: 10px;
          border-radius: 2px;
          position: relative;
          width: 100%;
          min-width: 150px;
          max-width: 350px;
          min-height: 40px;
          box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);

          &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 10px solid #f0f0f0;
            position: absolute;
            top: -10px;
            left: 16.5px;
          }

          & .info_loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          & a.info_container {
            color: #4990E2;

            &:hover {
              color: #1565C0;
            }
          }

          & .info_container {
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            color: #4a4a4a;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            text-decoration: none;
            transition: all 400ms;

            &.info_bio {
              white-space: normal;
              height: auto;
            }

            &.info_social {
              margin-top: 10px;
              padding-top: 10px;
              border-top: 1px solid #f0f0f0;
              color: #9B9B9B;
              font-size: 12px;

              & i {
                color: #9B9B9B;
              }
            }

            & .info_icon {
              width: 25px;
              height: 25px;
              position: relative;
              display: inline-block;
              float: left;

              & i {
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #737373;
              }
            }
          }
        }
      }
    }

    & .user_info {
      display: inline-block;
      float: left;
      height: 50px;
      line-height: 50px;
      margin-left: 15px;
      font-size: 16px;

      & a {
        text-decoration: none;
        color: #4990E2;
        transition: all 400ms;

        &:hover {
          color: #1565C0;
        }
      }

      & .user_link {
        color: #9B9B9B;
      }
    }
  }

  & .repos_info_container {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
    text-align: left;
    line-height: 1.6em;

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    & .repos_desc {
      margin: 15px 0;
      overflow: hidden;
    }

    & .repos_info {
      width: 100%;
      text-align: right;
      color: #9B9B9B;
      font-size: 12px;

      &::after {
        content: '';
        clear: both;
        display: block;
      }

      & .repos_language {
        float: left;
      }

      & i {
        color: #9B9B9B;
      }
    }
  }
}